.cartWrapper {
    position: relative;
}

.cartBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
}

.cartNum {
    position: absolute;
    bottom: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #BFD8D0;
    color: #000;
    font-size: 13px;
    font-weight: 700;
}

.resumeWrapper {
    width: 380px;
    background-color: #fff;
    top: 95px;
    position: absolute;
    right: 10px;
    box-shadow: 0px 0px 10px #bdbdbd;
    border-radius: 8px;
}

.resume {
    padding: 16px;
    display: flex;
    gap: 8px;
}

.resumeImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.resumeImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resumeHeader h3 {
    margin: 0;
    color: rgb(87, 164, 140);
}

.resumeItemName {
    font-weight: 600;
    font-size: 15px;
    margin: 8px 0;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    border-radius: 8px;
    font-size: 15px;
}

.features p {
    margin: 0;
}
