.cartWrapper {
    position: relative;
}

.cartBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
}

.cartNum {
    position: absolute;
    bottom: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #BFD8D0;
    color: #000;
    font-size: 13px;
    font-weight: 700;
}
