.createButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(18 169 29);
    border: 3px solid #298f30;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.createButton:hover {
    background-color: rgb(50, 188, 59);
    border: 3px solid #227727;
}

.createButton:disabled {
    background-color: rgb(191, 47, 47);
    border: 3px solid #8f2929;
    cursor: not-allowed;
}