.form {
    max-width: 400px;
}

.formGroup_fRow {
    display: flex;
    gap: 32px;
}

.formGroup_fCol {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.formGroup_fCol div, .formGroup_fRow div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.flexRow {
    display: flex;
    flex-direction: row !important;
    gap: 32px;
}