.colection {
    display: flex;
    align-items: center;
    padding: 8px;
    height: 43px;
    cursor: pointer;
    box-sizing: border-box;
}

.activeColection {
    background-color: #dcdcdc;
}

.noActiveColectionHover:hover {
    background-color: #f1f1f1;
}

.colection__name {
    width: 100%;
    font-weight: 600;
}

.colection__name span {
    font-weight: 500;
    color: #3e3e3e;
    font-size: 16px;
}

.editInput {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: solid 1px #e1e1e1;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    color: #3e3e3e;
    outline:none;
}

.colection__buttons {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.colection__button {
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
