.formWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
    border-radius: 16px;
    margin-top: 40px;
}

.formWrapper h2 {
    font-size: 24px;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 0px;
    letter-spacing: 1.1px;
    margin-top: 0px;
}

.formWrapper p {
    margin-bottom: 16px;
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.form label, .form input {
    width: 100%;
}

.form label {
    margin-bottom: 8px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 8px;
    letter-spacing: 1.1px;
}

.form input {
    height: 56px;
    padding: 8px 16px;
    border: 1px solid #d3d5d7;
    box-sizing: border-box;
    font-size: 16px;
}

.submitButton {
    margin-top: 32px;
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: #92B2C0;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    width: 400px;
    transition: all 0.2s ease-in-out;
    height: 55px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    border: none;
}

.submitButton:disabled {
    cursor: not-allowed;
}

.toLogin {
    margin-top: 32px;
    padding: 8px 16px;
    box-sizing: border-box;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    width: 400px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    height: 55px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    border: solid 3px #000;
}

@media (max-width: 1200px) {
    .submitButton {
        width: 100%;
    }

    .toLogin {
        width: 100%;
    }
  }