.productsGrid__wrapper {
    margin-top: 96px;
}

.productsGrid {
  display: flex;
  justify-content: space-around;
}

.cardsGrid {
  grid-template-columns: repeat(3, 1fr);
}

.productsGrid__title {
  font-size: 26px;
  padding: 0px 16px;
  text-transform: uppercase;
  margin-bottom: 32px;
}