.productsGrid__wrapper {
    margin-top: 40px;
}

.productsGrid {
  display: flex;
  justify-content: space-around;
}

.cardsGrid {
  grid-template-columns: repeat(3, 1fr);
}

.productsGrid__title {
  font-size: 26px;
  padding: 0px 16px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.slider__wrapper {
  width: 95%;
  margin: 0 auto;
  display: none;
}

.colection__slide {
  display: flex !important;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 1200px) {
  .productsGrid__wrapper {
    margin-top: 40px;
  }

  .productsGrid {
    display: none;
  }

  .slider__wrapper {
    display: block;
  }
}
