body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body, span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
}

.default__flex {
    display: flex;
    align-items: center;
}

.slick-slide img {
    margin: auto;
    width: 100%;
  }

main {
    margin: 0 auto;
    /* max-width: 1440px; */
    width: 100%;
    padding-top: 156px;
}

.ContentSection{font-size:1.1rem;font-weight:500;line-height:1;text-transform:uppercase}.ContentSectionLink{color:#e60000;display:block;margin-bottom:.5rem}.ContentTitle{font-size:1.2rem;font-weight:normal;line-height:1}@media(min-width: 601px){.ContentTitle{font-size:1.4rem}}
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
.slick-loading .slick-list{
    background:#fff url('/static/images/ajax-loader.gif') center center no-repeat
}
@font-face{
    font-family:slick;
    font-weight:400;
    font-style:normal;
    font-display:swap;src:url('/static/fonts/Slick/slick.eot');
    src:url('/static/fonts/Slick/slick.eot?#iefix') format('embedded-opentype'),url('/static/fonts/Slick/slick.woff') format('woff'),url('/static/fonts/Slick/slick.ttf') format('truetype'),url('/static/fonts/Slick/slick.svg#slick') format('svg')
}
.slick-next, .slick-prev{
    font-size:0;
    line-height:0;
    position:absolute;
    top:50%;
    display:block;
    width:20px;
    height:20px;
    padding:0;
    -webkit-transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    transform:translate(0,-50%);
    cursor:pointer;color:transparent;
    border:none;
    outline:0;background:0 0
}
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover{
    color:transparent;
    outline:0;background:0 0
}
.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before{
    opacity:1
}
.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before{
    opacity:.25
}
.slick-next:before, .slick-prev:before{
    font-family:slick;
    font-size:20px;
    line-height:1;
    opacity:.75;
    color:#fff;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.slick-prev{
    left:-25px
}
[dir=rtl] .slick-prev{
    right:-25px;left:auto
}
.slick-prev:before{
    content:'←'
}
[dir=rtl] .slick-prev:before{
    content:'→'
}
.slick-next{
    right:-25px
}
[dir=rtl] .slick-next{
    right:auto;left:-25px
}
.slick-next:before{
    content:'→'
}
[dir=rtl] .slick-next:before{
    content:'←'
}
.slick-dotted.slick-slider{
    margin-bottom:30px
}
.slick-dots{
    position:absolute;
    bottom: -35px;
    display:block;
    width:100%;
    padding:0;
    margin:0;
    list-style:none;
    text-align:center
}
.slick-dots li{
    position:relative;
    display:inline-block;
    width:20px;
    height:20px;
    margin:0 5px;
    padding:0;
    cursor:pointer
}
.slick-dots li button{
    font-size:0;
    line-height:0;
    display:block;
    width:20px;
    height:20px;
    padding:5px;
    cursor:pointer;
    color:transparent;
    border:0;
    outline:0;
    background:0 0
}.slick-dots li button:focus, .slick-dots li button:hover{
    outline:0
}
.slick-dots li button:focus:before, .slick-dots li button:hover:before{
    opacity:1
}
.slick-dots li button:before{
    font-family: slick;
    font-size: 6px;
    line-height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
    width: 7px;
    height: 7px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 100%;
}
.slick-dots li.slick-active button:before{
    opacity:.75;color:#000
}
.slick-next, .slick-prev {
    z-index: 1;
    height: 30px;
    width: 30px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    padding: 7px;
    display: none !important;
}
.slick-next:before, .slick-prev:before {
    line-height: 0;
    color: #FF0000;
    font-size: 20px;
}

.slick-prev {
    left: 10px;
}
.slick-next {
    right: 10px;
}
.slick-next:before,
.slick-prev:before {
    content: "";
    display: block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMzE0MjQgMS42MDAwM0w1LjcxNDI5IC05Ljk5MTE3ZS0wN0w5Ljk5MTE3ZS0wNyA1LjcxNDI5TDUuNzE0MjkgMTEuNDI4Nkw3LjMxNDI1IDkuODI4NThMNC4zNDI4NCA2Ljg1NzE0TDE2IDYuODU3MTRMMTYgNC41NzE0M0w0LjM0Mjg0IDQuNTcxNDNMNy4zMTQyNCAxLjYwMDAzWiIgZmlsbD0iIzUzNTM1MyIvPgo8L3N2Zz4K);
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.slick-next:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNjg1NzYgMTAuNEwxMC4yODU3IDEyTDE2IDYuMjg1NzFMMTAuMjg1NyAwLjU3MTQzTDguNjg1NzUgMi4xNzE0MkwxMS42NTcyIDUuMTQyODZMLTEuNzk4NDFlLTA2IDUuMTQyODZMLTEuMTk4OTRlLTA2IDcuNDI4NThMMTEuNjU3MiA3LjQyODU3TDguNjg1NzYgMTAuNFoiIGZpbGw9IiM1MzUzNTMiLz4KPC9zdmc+Cg==);
}

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
    background: rgba(255,255,255,.7);
}


@media (min-width: 768px) {
    .ContentTitle:empty {
        min-height: 22px;
    }
    .slick-next, .slick-prev {
        height: 48px;
        width: 48px;
    }
    .slick-prev {
        left: 24px;
    }
    .slick-next {
        right: 24px;
    }
    .slick-next:before, .slick-prev:before {
        font-size: 30px;
    }
    .slick-next, .slick-prev {
        padding: 15px;
    }
}

/*page catalogo*/

.catalogo__container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

/*page productos*/

.products__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-bottom: solid 2px #f4939461;
    margin: 32px 0;
}

.products__button-container button {
    border: none;
    background: none;
    padding: 16px 0;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .7s ease;
    font-weight: 600;
    color: #868686;
    box-sizing: border-box;
}

.products__button-container button:hover {
    color: #000;
}

/*page cart*/

.cartMainContainer {
    max-width: 1024px;
    margin: 0 auto;
}

/*page checkout*/

.checkout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    height: 1837px;
    gap: 10%;
}

/*page order*/

.order__container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.order__container h1 {
    border-bottom: solid 4px #BFD8D0;
    font-size: 32px;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 40px;
    letter-spacing: 1.1px;
    margin-top: 16px;
    text-align: center;
    padding-bottom: 8px;
}

.order__container > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order__container > ul > li {
    display: flex;
    /* justify-content: space-between; */
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 16px;
    letter-spacing: 1.1px;
}

.order__container > p {
    font-size: 16px;
    color: #4a4a4a;
    margin: 0;
    padding: 16px;
    border-radius: 4px;
    background-color: rgba(191, 216, 208, .43);
    line-height: 1.2;
}

/*Page nosotros*/

.static__container {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 80px;
}

.static__container h1 {
    font-size: 32px;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 40px;
    letter-spacing: 1.1px;
}

.static__container h3 {
    font-size: 24px;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 20px;
    letter-spacing: 1.1px;
}

.static__container p {
    font-size: 18px;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 8px;
    letter-spacing: 1.1px;
    line-height: 25px;
}

.back-main {
    padding: 65px 0 0 250px;
    max-width: 75%;
    margin: 0 auto;
    width: 100%;
}

.content__wrapper h1 {
    font-size: 32px;
    letter-spacing: 0.5px;
    color: #000000;
}

.content__wrapper > div {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    padding-bottom: 64px;
    margin-bottom: 64px;
    border-bottom: solid 1px #dfdddd;
}

.content__wrapper > div > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 1200px) {
    .order__container > ul {
        width: 90%;
        margin: 0 auto;
    }
    
    .catalogo__container {
        flex-direction: column;
        width: 90%;
    }

    .checkout-container {
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 16px;
        height: auto;
        gap: 0;
    }

    .checkout-form {
        margin: 0 auto;
        width: 90%;
    }
}