.orderDetails__container h2 {
    font-size: 28px;
    font-weight: 500;
    color: #4a4a4a;
    letter-spacing: 1.1px;
    padding-bottom: 8px;
    margin-top: 40px;
    margin-bottom: 0;
}

.orderDetails__content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 8px 8px;
    border-bottom: 1px solid #e6e6e6;
}

.orderDetails__content header h3 {
    font-size: 20px;
    font-weight: 500;
    color: #4a4a4a;
    letter-spacing: 0.9px;
    margin-bottom: 0;
}

.orderDetails__sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 8px 8px;
    border-bottom: 1px solid #e6e6e6;
}

.orderDetails__sub p {
    font-size: 18px;
    font-weight: 500;
    color: #4a4a4a;
    letter-spacing: 0.9px;
    margin-bottom: 0;
}

.orderDetails__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 8px 8px;
}

.orderDetails__total h3 {
    font-size: 22px;
    font-weight: 500;
    color: #4a4a4a;
    letter-spacing: 0.9px;
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    .orderDetails__container {
        width: 90%;
        margin: 0 auto;
    }
}
