.userContent {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
    gap: 64px;
    margin: 100px auto;
    max-width: 70%;
    margin-top: 70px;
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: #4a4a4a;
    letter-spacing: 1.1px;
    margin: 0;
    text-transform: uppercase;
    border-bottom: solid 1px #e5e5e5;
    padding: 8px;
    padding-bottom: 16px;
    padding-top: 0;
}

.menu {
    width: 250px;
}

.content {
    width: 550px;
}

.userOptions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 400px;
}

.userOption {
    border: none;
    background: transparent;
    font-size: 18px;
    font-weight: 400;
    color: #4a4a4a;
    letter-spacing: 1.1px;
    cursor: pointer;
    border-bottom: solid 3px #eee;
    padding: 12px 4px;
    transition: all 0.3s ease-in-out;
}

.userOption:hover {
    background: #eee;
}

.optionActive {
    background: #eee;
}

.userOption p, .logoutButton p {
    margin: 0;
    text-align: left;
    padding-left: 4px;
}

.logoutButton {
    border: none;
    background: transparent;
    font-size: 18px;
    letter-spacing: 1.1px;
    cursor: pointer;
    padding: 12px 4px;
    color: #F49394;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.logoutButton:hover {
    background-color: #F49394;
    color: #fff;
}