.productCard {
    display: flex;
    flex-direction: column;
    padding: 4px;
    cursor: pointer;
    max-width: 260px;
}

.productCard a {
  text-decoration: none;
  color: #000;
}

.productCard:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.productCard__image {
  margin-bottom: 8px;
  overflow: hidden;
  background: #F4F4F4;
  display: inline-block;
}

.productCard__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-out,
  -webkit-transform 0.5s ease-out;
}

.productCard__image img:hover {
  transform: scale(1.1);
}

.productCard__info {
    padding-left: 8px;
}

.productCard__info h3 {
    font-size: 18px;
    /* font-weight: 600; */
    margin-bottom: 16px;
} 