.product {
    display: flex;
    gap: 32px;
    padding: 8px 32px;
    border-bottom: solid 1px #e1e1e1;
}

.product__image {
    width: 60px;
    height: 60px;
}

.product__image img {
    width: 60px;
    height: 100%;
    border-radius: 8px;
}

.product__name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    margin-right: 0;
    min-width: 200px;
}

.product__name a {
    text-decoration: none;
    color: #000;
}

.product__name a:hover {
    text-decoration: underline;
}

.product__name h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.product__name p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.product__sku, .product__price, .product__stock {
    display: flex;
    align-items: center;
}

.product__sku {
    min-width: 220px;
    margin-right: 40px;
}

.product__price {
    margin-right: 32px;
    width: 55px;
}

.product__stock {
    width: 55px;
}

.product__price input, .product__stock input {
    width: 100%;
    height: 40px;
    padding: 0 4px;
    border: solid 1px #ababab;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    /* box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4); */
    outline: none;
    cursor: pointer;
}

.product__stock p {
    width: 100%;
    text-align: center;
    margin-right: 15px;
}

.edit__product {
    display: flex;
    align-items: center;
}

.edit__product button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    /* box-shadow: 0 0 2px 0px #d9d8d8; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    MARGIN-LEFT: 16px
}

/* .edit__product button:hover {
    background: #f0f0f0;
} */

.edit__product button svg {
    fill: #929292;
    transition: all 0.2s ease-in-out;
}

.edit__product button svg:hover {
    fill: #676767;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
}

.message p {
    max-width: 500px;
    margin: 0;
    font-size: 18px;
    background-color: #87d187;
    padding: 16px;
    border-radius: 4px;
    width: 100%;
    color: #000;
    padding-left: 24px;
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 32px;
}

.closeModal {
    width: 100px;
    height: 40px;
    background: transparent;
    border: solid 2px #7f7e7e;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #7f7e7e;
    font-weight: 600;
}

.closeModal:hover {
    background: #f0f0f0;
}

.deleteProduct {
    width: 100px;
    height: 40px;
    background: #F49394;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #fff;
    font-weight: 600;
}

.modalTitle {
    font-size: 16px;
    margin: 0;
    border-bottom: 1px solid #7f7e7e;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.deleteProductButton {
    background: transparent;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #fff;
    margin-left: 16px;
    font-weight: 600;
}

.deleteProductButton svg {
    stroke: #b9b9b9;
    transition: all 0.2s ease-in-out;
}

.deleteProductButton svg:hover {
    stroke: #F49394;
}