.productList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    padding: 0;
}

.productList li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 1200px) {
    .productList {
        grid-template-columns: repeat(2, 1fr);
    }
}