.infoElement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #adacac;
    width: 70%;
    margin: 16px auto;
}

.infoElement > h3 {
    text-transform: capitalize;
}