.productWrapper {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.imageSite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.infoSite {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding-top: 64px; */
    box-sizing: border-box;
}

.infoSite > h1 {
    max-width: 450px;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin: 16px 0;
}

.price {
    color: #000;
    text-transform: uppercase;
    margin: 16px 0;
    font-size: 32px;
    font-weight: 500;
}

.oldPrice {
    color: #5b5b5b;
    text-decoration: line-through;
    margin: 8px 0;
    font-size: 22px;
    font-weight: 500;
}

.buttonsWrapper {
    display: flex;
    align-items: center;
    width: 450px;
    margin-top: 30px;
}

.selectQuantity {
    width: 120px;
    border: 1px solid #d4d4d4;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

.selectQuantity button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    width: 25px;
    height: 25px;
    padding: 0;
    cursor: pointer;
}

.selectQuantity span {
    font-size: 20px;
    font-weight: 600;
}

.buttonContainer {
    width: 280px;
    height: 52px;
}

.filtersList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    list-style: none;
    padding: 0;
}

.filterContainer {
    margin-bottom: 24px;
}

.filterTitle {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 16px 0;
}

.filterOptionContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    margin: 0;
    list-style: none;
    padding: 0;
}

.filterOptionContainer li {
    margin: 0;
    list-style: none;
    padding: 0;
}

.filterOptionContainer li button {
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    padding: 4px 8px;
    border: solid 3px #F9C38F;
    border-radius: 4px;
}

@media screen and (max-width: 1200px) {
    .productWrapper {
        flex-direction: column;
        gap: 0;
    }

    .buttonsWrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        margin-top: 16px;
        width: 100%;
    }

    .buttonContainer {
        width: 100%;
    }
}